* {
  box-sizing: border-box;
}

/* Typographies / Couleurs (exemples : titres, paragraphes, liens, etc.)
========================================================================== */

body {
  background-color: aliceblue;
}

@font-face {
  font-family: "Agbalumo";
  src: url("../fonts/Agbalumo-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

/* Mise en page (positionnement)
========================================================================== */

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-family: "Agbalumo", sans-serif;
}

/* Header / Navigations / Footer 
========================================================================== */

.flexHead {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav {
  text-align: right;
  padding: 0.5% 2%;
  width: 50%;
}

nav li {
  display: inline-block;
  text-align: center;
  margin: 0% 1%;
  padding: 0% 1%;
  font-size: 1.5rem;
  font-weight: 500;
}
nav li :hover {
  text-decoration: underline;
}
nav a {
  color: #d4c254;
  font-family: "Lora", serif;
  font-weight: 600;
}
nav a:hover {
  transition:
    color 0.4s,
    0.4s;
  color: #e3b177;
  font-family: "Lora", serif;
  font-weight: 600;
  text-decoration: none;
}
.navActive {
  color: #e3b177;
  font-family: "Lora", serif;
  font-weight: 600;
  text-decoration: underline;
}
.navActive:hover {
  transition:
    color 0.4s,
    0.4s;
  color: #e3b177;
  font-family: "Lora", serif;
  font-weight: 600;
  text-decoration: none;
}

/* Composantes générales (exemples : section, cartes, tableaux, etc.)
========================================================================== */

/* Formulaires
========================================================================== */
.required {
  color: red;
}

/* Règles spécifiques aux pages
========================================================================== */

/* Media Queries (pour la réactivité)
========================================================================== */
/*Du plus haut/large au plus petit (Desktop first)*/
/*Ceux plus haut s'appliquent encore si pas écrasé par ceux plus bas, donc pas besoin de tout remettre*/
